/autom4te.cache/
.deps/
Makefile
Makefile.in
/aclocal.m4
*.log
*.tar.gz
*.tar.bz2
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

src/kft

*~
*.o
a.out
conftest
conftset.*
confdefs.h
core